/* Tamaños y posiciones */ 
body {
    background-image: linear-gradient(to left, rgba(149, 0, 255, 0.159), rgba(0, 255, 247, 0.351));
}

menu {
    display: flex ;
    text-align: center;
    margin: 0%;
    padding: 0%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.041);

}

.button_menu {
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    align-content: center;
    border: 1% ;
    padding: 0.8%;
    background-color:#ffffff39 ;
}

/* Configuración del encabezado*/
.header {
    background-color: rgba(255, 255, 255, 0.118);
    display: flex;
    margin: 2%;
    align-content: center;
    align-items: center;
    margin-bottom: 0%;
    
}

.headerdown {
    background-color: rgba(255, 255, 255, 0.156);
    align-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2%;

}






/*  Diseños específicos - Interacciones*/ 

.button_m {
    position: relative;
    width: 120px;
    height: 40px;
    background-color: #000;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    justify-content: center;
    border: none;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
}
  
.button_m::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -4px;
    top: -1px;
    margin: auto;
    width: 128px;
    height: 48px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
  
.button_m::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}
  
.button_m:hover::after {
    filter: blur(30px);
}
  
.button_m:hover::before {
    transform: rotate(-180deg);
}
  
.button_m:active::before {
    scale: 0.7;
}
 

/*Contac me config*/

.btn {
    border: none;
    width: 12em;
    height: 3em;
    border-radius: 2.0em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    background: #1C1A1C;
    cursor: pointer;
    transition: all 230ms ease-in-out;
  }
  
.sparkle {
    fill: #AAAAAA;
    transition: all 800ms ease;
}

.text {
    font-weight: 600;
    color: #AAAAAA;
    font-size: small;
}

.btn:hover {
    background: linear-gradient(0deg,#A47CF3,#683FEA);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 180px 0px #9917FF;
    transform: translateY(-2px);
}

.btn:hover .text {
    color: white;
}

.btn:hover .sparkle {
    fill: white;
    transform: scale(1.0);
} 

.callactionbox {
    justify-content: center;
    align-content: right;
    max-width: 55%;  
    height: auto; 
    align-items: center;
    flex-direction: row-reverse;
}

/* Piramide giratoria de Uiverse.io by andrew-demchenk0*/
.pyramid-loader {
    position: relative;
    width: 300px;
    height: 300px;
    display: block;
    transform-style: preserve-3d;
    transform: rotateX(-20deg);
}
  
.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: spin 4s linear infinite;
}
  
@keyframes spin {
    100% {
      transform: rotateY(360deg);
    }
}
  
.pyramid-loader .wrapper .side {
    width: 70px;
    height: 70px;
  /* you can choose any gradient or color you want */
    /* background: radial-gradient( #2F2585 10%, #F028FD 70%, #2BDEAC 120%); */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform-origin: center top;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
  
.pyramid-loader .wrapper .side1 {
    transform: rotateZ(-30deg) rotateY(90deg);
    background: conic-gradient( #2BDEAC, #F028FD, #D8CCE6, #2F2585);
}
  
.pyramid-loader .wrapper .side2 {
    transform: rotateZ(30deg) rotateY(90deg);
    background: conic-gradient( #2F2585, #D8CCE6, #F028FD, #2BDEAC);
}
  
.pyramid-loader .wrapper .side3 {
    transform: rotateX(30deg);
    background: conic-gradient( #2F2585, #D8CCE6, #F028FD, #2BDEAC);
}
  
.pyramid-loader .wrapper .side4 {
    transform: rotateX(-30deg);
    background: conic-gradient( #2BDEAC, #F028FD, #D8CCE6, #2F2585);
}
  
.pyramid-loader .wrapper .shadow {
    width: 60px;
    height: 60px;
    background: #8B5AD5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotateX(90deg) translateZ(-40px);
    filter: blur(12px);
}